{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <h3 class="page-title"> Calendar </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Calendar</li>
        </ol>
    </nav>
</div>

<div class="calendar-content">
    <div id='calendar'></div>
</div>
{% endblock %}

{% block scrips %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.17/index.global.min.js'></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var scrollTime = "{{ scroll_time }}";

    var calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      headerToolbar: {
        left: 'today prev,next',
        center: 'title',
        right: 'resourceTimelineDay,resourceTimelineTenDay,resourceTimelineMonth'
      },
      initialView: 'resourceTimelineDay',
      scrollTime: scrollTime,
      aspectRatio: 1.5,
      editable: false,
      resourceAreaHeaderContent: 'Tables',
      resources: "{% url 'api:tables' %}",
      events: "{% url 'api:bookings' %}",
    });

    calendar.render();
  });
</script>
{% endblock %}