{% extends 'base.html' %}
{% load crispy_forms_tags cms_tags menu_tags %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title"> Timeslot Settings </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Timeslot Settings</li>
            </ol>
        </nav>
    </div>

    <div class="block mb-3">
        <a href="{% url 'timeslot_editor' %}" class="btn btn-sm btn-primary">Add New Timeslot</a>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Label</th>
                <th>Value</th>
                <th>Allow Reservation?</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in instances %}
                <tr data-id="{{ item.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.label }}</td>

                    {% if item.typeof == 'session' %}
                        <td>{{ item.start_datetime }} to {{ item.end_datetime }}</td>
                    {% else %}
                        <td>{{ item.increment_value }} (minutes)</td>
                    {% endif %}

                    <td>{{ item.allow_reservation }}</td>
                    <td>{{ item.enabled }}</td>
                    <td>
                        <div class="flex">
                            <a href="{% url 'timeslot_delete' item.id %}" class="btn btn-sm btn-danger">Delete</a>
                            <a href="{% url 'timeslot_editor' %}?id={{ item.id }}" class="btn btn-sm btn-primary">Edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}