<style type="text/css">
    #header #top-nav .container {
        background-color: {{ config.NAVBAR_BACKGROUND_COLOR }};
        color: {{ config.NAVBAR_TEXT_COLOR }};
    }

    #header #top-nav .container h3 {
        color: {{ config.NAVBAR_TEXT_COLOR }};
    }

    #footer {
        background-color: {{ config.FOOTER_BACKGROUND_COLOR }};
        color: {{ config.FOOTER_TEXT_COLOR }};
    }

    .main-button {
        background-color: {{ config.BUTTON_BACKGROUND_COLOR }};
        color: {{ config.BUTTON_TEXT_COLOR }};
    }

    .main-button:hover {
        background-color: {{ config.BUTTON_HOVER_COLOR }};
    }
</style>