{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-category">Main</li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="icon-bg"><i class="mdi mdi-file-document"></i></span>
          <span class="menu-title">Resturant Table</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'add_table' %}">Add Table</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'manage_table' %}">Manage Table</a></li>
           
          </ul>
        </div>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="icon-bg"><i class="mdi mdi-calendar-multiple"></i></span>
          <span class="menu-title">Booking</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'new_booking' %}"> Neww Booking </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'accepted_booking' %}"> Accepted Booking </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'rejected_booking' %}"> Rejected Booking </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'all_booking' %}"> All Booking </a></li>
           
          </ul>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'booking-bwdate-report' %}" class="nav-link"><i class="mdi  mdi-file-document-box"></i>
            <span class="menu-title">Report</span></a>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'calendar-page' %}" class="nav-link"><i class="mdi  mdi-calendar"></i>
            <span class="menu-title">Calendar</span></a>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'search_booking' %}" class="nav-link"><i class="mdi mdi-magnify"></i>
            <span class="menu-title">Search</span>
          </a>
        </div>
      </li>
    
      <li class="nav-item sidebar-user-actions">
        <div class="user-details">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex align-items-center">
                <div class="sidebar-profile-img">
                    {% if user.profile_pic %}
                    <img src="{{ user.profile_pic.url }}" alt="Profile Picture" width="40" height="50">
                {% else %}
                    <img src="/static/default-profile.png" alt="Default Profile Picture" width="30" height="40">
                {% endif %}
                </div>
                <br>
                <div class="sidebar-profile-text">
                  <p class="mb-1">{{user.first_name}} {{user.last_name}}</p>
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <br>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'webpage_settings' %}" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
            <span class="menu-title">Webpage Settings</span>
          </a>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'change_password' %}" class="nav-link"><i class="mdi mdi-lock-reset menu-icon"></i>
            <span class="menu-title">Change Password</span>
          </a>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'admin_profile' %}" class="nav-link"><i class="mdi mdi-account-box"></i>
            <span class="menu-title">Profile</span></a>
        </div>
      </li>
      <li class="nav-item sidebar-user-actions">
        <div class="sidebar-user-menu">
          <a href="{% url 'logout' %}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
            <span class="menu-title">Log Out</span></a>
        </div>
      </li>
    </ul>
  </nav>